/* Large Devices, Wide Screens */
@media only screen and (max-width: 1366px) {
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .banner-content-wrapper {
    padding: 0 15px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
  .col-md-1 {
    width: 8.333333333333333%;
  }
  .col-md-2 {
    width: 16.66666666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333333333%;
  }
  .col-md-8 {
    width: 66.66666666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333333333%;
  }
  .col-md-11 {
    width: 91.66666666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-12-5 {
    width: 20%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .col-sm-1 {
    width: 8.333333333333333%;
  }
  .col-sm-2 {
    width: 16.66666666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333333333%;
  }
  .col-sm-8 {
    width: 66.66666666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333333333%;
  }
  .col-sm-11 {
    width: 91.66666666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-12-5 {
    width: 20%;
  }

  .menu-icon-mobile {
    display: block;
    width: 50px;
    padding: 14px 8px 4px 8px;
    border-radius: 0px;
    margin: 0;
    position: absolute;
    top: 15px;
    right: 0;
    height: 40px;
  }
  .menu-icon-mobile > span {
    display: block;
    height: 3px;
    width: 100%;
    margin-bottom: 6px;
    background-color: #fff;
  }
  header .nav-links {
    display: none;
    position: fixed;
    top: 94px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  header .nav-links a {
    display: block !important;
    text-align: center;
    line-height: 40px !important;
    color: #fff;
    margin-top: 0px;
    margin-right: 0px;
  }
  header .lower .nav-links a:last-child {
    margin-right: 0px;
  }
  header .lower .nav-links a {
    margin-right: 0px;
    color: #000;
  }

  header .upper .enq-btn-wrapper {
    margin-right: 50px;
    margin-top: 15px;
  }
  header .upper .ctc-wrapper {
    margin-right: 5px;
  }
  header .upper .number-wrapper {
    margin-right: 15px;
    margin-top: 25px;
  }

  .home-banner {
    background-image: url("https://dummyimage.com/768X1024/6b6b6b/565659&text=ipad-banner");
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 640px) {
  body {
    -webkit-text-size-adjust: none;
  }
  .col-xs-1 {
    width: 8.333333333333333%;
  }
  .col-xs-2 {
    width: 16.66666666666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333333333333%;
  }
  .col-xs-5 {
    width: 41.66666666666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333333333333%;
  }
  .col-xs-8 {
    width: 66.66666666666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333333333333%;
  }
  .col-xs-11 {
    width: 91.66666666666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-12-5 {
    width: 20%;
  }

  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }

  .menu-icon-mobile {
    height: 60px;
    padding: 25px 8px 4px 8px;
    top: -5px;
  }
  header {
    padding: 5px 0;
  }
  header .nav-links {
    padding: 10px 0;
    top: 0px;
  }
  header .lower .nav-links {
    margin-top: 0px;
  }
  header .brand-logo img {
    width: 90px;
  }

  header .form-container {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 100% !important;
    bottom: -100% !important;
    width: 100% !important;
    padding: 30px 0 !important;
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 300;
    background-color: rgba(255, 254, 254, 0.97) !important;
  }
  header .form-container.show {
    top: 0 !important;
    bottom: 0 !important;
    display: block !important;
  }
  header .form-container .frmclose {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 20px;
  }
  /*---------------------- Common CSS start ---------------------------------------*/
  .section-heading {
    text-align: center;
  }
  /*---------------------- Common CSS end ---------------------------------------*/

  /*---------------------- Banner Section start ---------------------------------------*/
  .left-landing-banner {
    height: 70%;
  }
  .right-landing-banner {
    height: 30%;
  }
  .bannerPP {
    left: 50%;
    width: 200px;
    top: 70%;
    border: 8px solid rgb(33, 33, 33);
  }
  .banner-content-wrapper {
    top: 35%;
    width: 100%;
    padding: 0 15px;
  }
  /*---------------------- Banner Section end ---------------------------------------*/

  /*---------------------- Project Section start ---------------------------------------*/
  .project-card-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .line-styling .style-circle {
    width: 5px;
    height: 5px;
  }
  .line-styling .style-line {
    width: 93%;
    height: 3px;
  }
  #Projects .section-heading {
    margin-top: 0px;
  }
  /*---------------------- Project Section end ---------------------------------------*/

  /*---------------------- Experience Section start ---------------------------------------*/
  .experience-body {
    flex-direction: column-reverse;
  }
  .experience-card {
    width: 100%;
    height: 130px;
    padding: 25px 10px;
  }
  .duration {
    margin-bottom: 5px;
  }
  .exp-card-img {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
  }
  .exp-card-img img {
    width: 30px;
  }
  /*---------------------- Experience Section end ---------------------------------------*/

  /*---------------------- About Section start ---------------------------------------*/
  .education-description {
    align-items: center;
  }
  .education-description .experience-card {
    height: 150px;
  }
  /*---------------------- About Section end ---------------------------------------*/

  /*---------------------- Contact Section start ---------------------------------------*/
  .contact-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  section#Contact {
    padding-bottom: 0px;
  }
  .social-media-links {
    display: flex;
    flex: 0.65 1;
    justify-content: space-evenly;
    gap: unset;
  }
  /*---------------------- Contact Section end ---------------------------------------*/

  footer .lower {
    font-size: 10px;
  }
  footer .lower div {
    text-align: center !important;
  }

  .mob-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    z-index: 999999;
  }
  .mob-footer a {
    display: block;
    line-height: 30px;
  }
  .mob-footer a.mob-enq-btn {
    background-color: #6b6b6b;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }
  .mob-footer a.mob-call-btn {
    background-color: #fff;
    color: #6b6b6b;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 320px) {
}
